.body_{
  /*background: BlanchedAlmond;*/
}

/***********************************
* NASLOVNA TRAKA
 ***********************************/
.title{
  background-color: #404040;/*#333333; /*#202020; /*#00994d*/
  color: white;
  height: 8em;
  width: -webkit-fill-available; /*prilagoduje se browseru*/
  padding: 1em;
  display: block;
}

.title-name{
  font-size: 40px;
  /*font-weight: bold;
  font-family: 'Comic Sans MS';*/
  margin-left: 0.3em;
  display: inline;
}

.logo{
  margin-bottom: 11px;
  margin-left: 4px;
  opacity: 0.9;
}

/***********************************
* ispis LIMITA
 ***********************************/
.info{
  margin-bottom: 2em;
  margin-top: -2.5em;
  padding-top: 1em;
  background: rgba(0, 153, 77, 0.91);
  height: 6em;
  width: 75%;
  margin-left: 10%;
  box-shadow: 10px 10px 25px rgba(0, 153, 77, 0.8);
  border-radius: 15px;
}

.info-box{
  background: rgba(255,222,173, 0.5);
  border-radius: 10px;
  padding: 0.5em 1em;
  text-align: center;
  margin: auto;
}

.info-elem{
  display: block;
  color: white;
  font-weight: bold;
}

.info-amount{
  display: block;
  color: white;
}

#plus{
  background: rgba(255,222,173, 0.6);
  padding: 0.9em 2.1em;
/*  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);*/
}


td, th{
text-align: center;
}

.logout{
display: inline;
}


/***********************************
* LOG_IN page
 ***********************************/
 .col-centered{
   float: none;
   margin: auto;
   }

 .log-body{
   /*background-color: lightgrey;*/
 }

 .log-mainPart{
   /*background: white;
   padding: 10px;
   border-radius: 15px;
   border: 1px solid lightgrey;*/
 }

 .image{
   margin:0;
   margin-bottom: 13px;
   opacity: 0.9;
 }

 .description{
   border:1px solid lightgrey;
   border-radius: 15px;
   padding: 10px 0px;
   margin: auto;
   text-align: center;
   max-width: 28rem;
 }
/***********************************
* NAVBAR- tj LINKOVI
 ***********************************/
 /*side_bar{
   margin: 2em;
   border-radius: 15px;
   border: 1px solid lightgrey;
   position: absolute;
   width: 210px;
 }*/

 .link-ul{
   list-style-type: none;
   margin-top:4em;
   margin-left: 1em;
   border-radius: 15px;
   border: 1px solid lightgrey;
   padding: 0;
   min-width: 6.5em;
 }

 .link-item{
   margin: auto;
   padding: 10px 5px;
   text-align: center;
 }

 .link-ul .link-item a{
   text-decoration: none;
   display: block;
   color: #404040;
 }

 .link-ul li:hover a{
   font-weight: bold;
 }

 .link-active a{
   font-weight: bold;
   color: black;
 }

 #dropdownMenu{
   background-color: #404040;
   margin: auto;
   float: right;
 }

 #link-dropdown{
   border-radius: 15px;
   border: 1px solid lightgrey;
 }

 #personal{
   padding:0;
   margin:0;
   border: none;
 }
 /***********************************
 * BUTTONS
  ***********************************/

 .bgreen{
   background-color: rgba(0, 153, 77, 0.9);
   color: white;

 }

 /***********************************
 * Button for removing/editing  Button for adding transaction
  ***********************************/
  .IconButton, .IconButtonE, .AddButton{
     background-color: Transparent;
     background-repeat:no-repeat;
     color: #888888;
     border: none;
     cursor:pointer;
     overflow: hidden;
     outline:none;
  }

  .IconButton:hover, .IconButtonE:hover, .AddButton:hover{
     background-color: Transparent;
     background-repeat:no-repeat;
     border: none;
     cursor:pointer;
     overflow: hidden;
     outline:none;
     color:black;
  }

  .far, .fas{
    font-size: 22px;
  }

  /***********************************
  * TABLE
   ***********************************/
   thead{
     border: none;
     overflow: hidden;
     background-color: #8cd98c;
   }

   .table{
     border: none;
     border-radius: 15px;
     overflow: hidden;
     width: inherit;
     height: inherit;
   }

   .panel{
     border-radius: 15px;
     margin-left: -10px;
     margin-right: 25px;
     border: 1px solid lightgrey;
   }

   .tgreen{
     color:rgb(0,128,64);
   }

   .headerButton{
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      font-weight: bold;
   }
   .headerButton:hover{
     color: black;
   }

   .tred{
     color:#b30000;
   }

  /***********************************
  * STATISTICS
   ***********************************/
   .group {
   border-right: 1px solid lightgrey;
   }

   .title_canvas{
     font-size: 24px;
     margin: 15px 0px 15px 0px;
     text-align: center;
   }

   /***********************************
   * FOOTER
    ***********************************/
    footer{
      background-color: #404040;
      color: white;
    }

    .footer-elem{
      font-weight: bold;
      font-size: 1em;
      margin-bottom: 0.3em;
      text-transform: uppercase;
    }

    .footer-elem-description{
      font-size: 0.9em;
    }

    .fb_icon{
      border-radius: 40%;
      width: 40px;
    }

    .fb_icon:hover{
      cursor:pointer;
    }
