
.title{
  background-color:  #202020;
  color: white;
  padding: 30px;
}

h1{
  display: inline;
}

li{
	 text-align: center;
   padding: 20%;
}

td, th{
  text-align: center;
}




/*
.row{
  margin-right: 30px;
  float: left;
}

.wrapper{
  padding: 10px;
}

.omotac{
    float: right;
    align-self: center;
}
*/
